/*
  Custom CSS file
  styles reservation listings.
*/

/* Stylize each row */
.transaction_list_row
{
/*
  border-style:solid;
  border-width:2px;
  border-color:#61A3CB;
  border-bottom:0px;
  border-top-color:#2A7BAC;
*/
  width:100%;
  height:100%;

  //margin-bottom:5px;
  //clear:both;
  background-color:green;
}

.transaction_info_block
{
  margin-bottom:2px;
  width:250px;
  height:auto;
  float:left;

  border-style:solid;
  border-width:5px;
  border-color:#2A7BAC;
}

.transaction_info_block p
{
  //background:red;
  font-size:15px;
  text-align:center;
}

.transaction_info_block button
{
  margin-left:85px;
}
/*
.transaction_info_block button
{
  margin-left:auto;
  margin-right:auto;
}
*/
.transaction_list_description
{
  //width:100%;
  //float:left;
  //display:none;
}

.transaction_list_row
{
  //display:none;
  width:30%;
  height:80%;
}

.transaction_list_image
{
  width:100px;
  height:100px;
  margin-left:75px;
  //margin-right:auto;
}

/* Stylize the description of each piece of equipment */
.transaction_list_row
{
  //display:none;
  //float:left;
  //width:60%;
}

/* Stylize the description title of each piece of equipment */
.transaction_list_description .transaction_list_description_title
{
  font-size:20px;
  font-weight:bold;
}

/* Stylize the description text */
.transaction_list_description p
{
  margin-bottom:2px;
}

.view
{
  height:auto;
  //background-color:green;
  display:inline-block;
  //position:absolute;
}

/* Stylize the dropdown description div */
.transaction_list_dropdown
{
  //float:left;

  background-color:#61A3CB;
  overflow:auto;
  color:white;

  border-style:solid;
  border-top-width:5px;
  border-bottom-width:3px;
  border-color:#2A7BAC;
  padding-top:0px;
  margin-top:0px;
}

/* Stylize each section of the dropdown div */
.transaction_list_dropdown_section
{
  float:left;
  padding-right:40px;
  padding-left:10px;

  padding-top:0px;
  margin-top:0px;
  width:150px;
}
