/*
  main_page CSS file
  Author: Mark Burton
  Date: 01/02/2013
*/

/*
  Handles the main option buttons the user sees
  after they log in
*/

.main_options
{
  width:80%;
  width:80%;
  margin-left:auto;
  margin-right:auto;

}

.main_options input
{
  width:150px;
  height:150px;
  float:left
}
