/*
  Custom CSS file
  styles reservation listings.
*/

/* Style the whole reservation list */
#reservation_list
{
  width:90%;
}
/* Stylize each row */
#reservation_list .reservation_list_row
{
  border-style:solid;
  border-width:2px;
  border-color:#56C5FE;

  width:100%;
  height:100px;

  margin-bottom:5px;
}

/* Stylize the image of each piece of equipment */
#reservation_list .reservation_list_row .reservation_list_image
{
  width:30%;
  height:80%;
}

/* Stylize the description of each piece of equipment */
#reservation_list .reservation_list_row .reservation_list_description
{
  float:right;
  width:60%;
}

/* Stylize the description title of each piece of equipment */
.reservation_list_description .reservation_list_description_title
{
  font-size:20px;
  font-weight:bold;
}

/* Stylize the description text */
.reservation_list_description p
{
  margin-bottom:2px;
}

/* Stylize the dropdown description div */
.reservation_list_dropdown p
{
  //background-color:#00A6FB;
  //color:white;
  opacity:0.8;
}
